/* Background and Text Color*/
.home, .gallery, .memoirs {
  background-color: rgb(47, 41, 65);
  color: white;
}
h1 {
  font-size: 70px;
}
h2 {
  font-size: 50px;
}

/*Language Nav*/
.primaryNav {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}
.dropbtn {
  background: none;
  border: none;
  text-decoration: none;
  color: rgba(47, 41, 65, 0.9);
  font-family: inherit;
  font-size: 20px;
  cursor: pointer;
  padding: 0 15px;
}
.dropbtn:hover {
  color: black;
}
.langbtnA, .langbtnB {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  width: 100px;
  margin: 0px;
  padding: 15px 25px;
  font-size: 20px;
  text-align: center;
  display: block;
  cursor: pointer;
}
.langbtnA {
  border-style: none double none none;
}
.langbtnB {
  border: none;
}
.dropdown .dropdown-menu {
  position: absolute;
  display: none;
}
.dropdown:hover .dropdown-menu {
  display: flex;
}
/* Navigation */
nav ul {
  list-style: none;
  display: flex;
  align-content: space-between;
  padding: 10px 20px;
  margin-bottom: 20px;
  margin-top: 0px;
}

  nav ul li {
    padding: 5px 20px;
}


nav ul li a {
  color:rgb(47, 41, 65);
  border:outset rgba(47, 41, 65, 0.9);
  border-radius: 12px;
  padding: 10px 20px;
  font-size: 30px;
  text-decoration: none;
}
.home {
  display: grid;
  padding: 15px;
  grid-template-columns: repeat 3(4fr);
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header header"
    ". img main main"
    "footer footer footer footer";
}
.header {
  grid-area: header;
  height: 100px;
  text-align: center;
  align-self: center;
}
.img {
  grid-area: img;
  height: 500px;
  width: auto;
}
.intro {
  grid-area: main;
}
.greeting {
  grid-area: footer;
  background-color: rgba(0, 0, 0, .1);
}
/*Timeline 
.odd {
  display: grid;
  grid-template-columns: 1fr 6fr 3fr;
  margin: 50px 20px;
}
.even {
  display: grid;
  grid-template-columns: 1fr 9fr;
  margin: 50px 20px;
}
.date {
  justify-self: center;
}
.info {
  justify-self: center;
}
.timeline-image {
  height: 200px;
  width: auto;
  justify-self: start;
}*/
/* gallery page 
.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery img {
  height: auto;
  width: 600px;
  padding: 30px;
}*/

/* memoirs page */
.memoirsContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.memoirs img {
  width: 80%;
  filter: grayscale(100%);
  height: auto;
  padding: 50px 30px;
}
/* gallery*/

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.timeline::before {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
}
/* The circles on the timeline */
.gallery h3 {
  border-bottom: solid 5px;
  height: 100px;
  margin-left: 0px;
  font-size: 30px;
  text-align: center;
}

.containerGallery {
  display: grid;
  grid-template-columns: 1fr 8fr 4fr;
  column-gap: 50px;
  row-gap: 20px;
}
.containerGallery h3 {
  grid-column-start: 1;
}
.containerGallery img {
  grid-column-start: 2;
  width: 100%;
  padding: 30px 10px;
}


.containerGallery p {
  grid-column-start: 3;
}

